<center><font color="red"><h1>FIGHT</h1></center>
<center><%=blank%></center>
  <h2><center><%=counter%></center></h2>


	<form method="post" action="guess">
   <center><%=message%></center> 
<center><input type= "text" name="letter" required=true onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, '')" maxlength="1" autofocus="true">
	<input type= "hidden" name="player1" value='<%=p1_name%>'>
	<input type= "hidden" name="player2" value='<%=p2_name%>'>
	<input type="submit" name="Enter Guess"/></h3></center>
	<center><h2>Guesses - <%=array%></h2>
	</form>

<%if counter == 0 %>
<h4><img src="http://68.media.tumblr.com/7e218082521b591c1d8244c8996e36fc/tumblr_o0sv63I8jW1sug5ooo2_250.gif"></h4>
<%elsif counter == 1 %>
<h4><img src="http://37.media.tumblr.com/e7341636a43e3f2078f1081563790dd4/tumblr_n6jo72jaRS1qb0wv3o6_r1_250.gif"></h4>
<%elsif counter == 2 %>
<h4><img src="http://68.media.tumblr.com/66dfb935460f5964bd89937bcf5f651e/tumblr_o0sv63I8jW1sug5ooo5_250.gif"></h4>

<%elsif counter == 3 %>
<h4><img src="https://i.makeagif.com/media/6-04-2015/WziHLU.gif"></h4>

<%elsif counter == 4 %>
<h4><img src="http://24.media.tumblr.com/5f59c6df79f9a66fc7ae18ca6135433e/tumblr_n6jo72jaRS1qb0wv3o7_r1_250.gif"></h4>

<%elsif counter == 5 %>
<h4><img src="http://68.media.tumblr.com/077e393b48b2bd7b572505af949f4db2/tumblr_o0sv63I8jW1sug5ooo7_250.gif"></h4>

<%elsif counter == 6 %>
<h4><img src="http://31.media.tumblr.com/7e218082521b591c1d8244c8996e36fc/tumblr_n6jo72jaRS1qb0wv3o3_r1_250.gif"></h4>
<center/><%end%>
    