<center><font color="rainbow"><h2><%= p2_name%> start guessing the word</h2></center>
<center><%=blank%></center>
  <h2><center><%=counter%></center></h2>


	<form method="post" action="guess">
   <center><%=message%></center> 
	<center><h3><input type="text" name="letter">
	<input type= "hidden" name="player1" value='<%=p1_name%>'>
	<input type= "hidden" name="player2" value='<%=p2_name%>'>
	<input type="submit" name="Enter Guess"/></h3></center>
	<center><h2>Guesses - <%=array%></h2>
	</form>


<%if counter == 0 %>
<img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Hangman-0.png">
<%elsif counter == 1 %>
<img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Hangman-1.png">

<%elsif counter == 2 %>
<img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Hangman-2.png">

<%elsif counter == 3 %>
<img src="https://upload.wikimedia.org/wikipedia/commons/9/97/Hangman-3.png">

<%elsif counter == 4 %>
<img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Hangman-4.png">

<%elsif counter == 5 %>
<img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/Hangman-5.png">

<%elsif counter == 6 %>
<img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Hangman-6.png">
<center/><%end%>
    